<%- include('../partials/header') %>

<h3>Edit <%= woodart.title %> </h3>

<div class="edit-art-div">
    <form id="edit-art-form" action="/woodarts/<%= woodart.id %>?_method=PUT" method="POST">
        <div class="form-item">
            <label>Title:</label>
            <input type="text" name="title" value="<%= woodart.title %> ">
            <br>
        </div>
        <div class="form-item">
            <label>Created:</label>
            <input type="text" name="created" value="<%= woodart.created %> ">
            <br>
        </div>
        <div class="form-item">
            <label>Image Url:</label>
            <input type="text" name="imageUrl" value="<%= woodart.imageUrl %> ">
            <br>
        </div>
        <div class="form-item">
            <label class="description-label" for="description">Description: </label>
            <textarea id="description" name="description" cols="30" rows="4" ><%= woodart.description %></textarea>
            <br>
        </div>
        <div class="form-item">
            <input type="submit" value="Add Piece">
        </div>
    </form>
</div>

<%- include('../partials/footer') %>