<%- include('../partials/header') %>

<h3>Gallery</h3>

<% woodarts.forEach(woodart=> { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= woodart.imageUrl %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= woodart.title %> </h5>
        <p class="card-text">Released: <%= woodart.created %></p>
        <a href="/woodarts/<%= woodart._id%> " class="btn btn-primary">Details</a>
      </div>
    </div>
<% }) %>

<a href="/woodarts/new" class="btn btn-primary">Add New Piece</a>



<!-- <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/LInchFV.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#">Details</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/vr91wKG.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/euAp1W1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> -->

<%- include('../partials/footer') %>