<%- include('../partials/header') %>

<h3>Gallery</h3>

<a href="/woodarts/new" class="btn btn-primary">Add New Piece</a>

<% woodarts.forEach(woodart=> { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= woodart.imageUrl %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= woodart.title %> </h5>
        <p class="card-text">Released: <%= woodart.created %></p>
        <a href="/woodarts/<%= woodart._id%>" class="btn btn-primary">Details</a>
      </div>
    </div>
<% }) %>



<%- include('../partials/footer') %>