<%- include('../partials/header') %>

<h3>Gallery</h3>

<a href="/woodarts/new" class="btn btn-primary">Add New Piece</a>

<% woodarts.forEach(woodart=> { %>
    <div class="card bg-dark text-white" id="card-div" style="width: 20rem;">
        <img src="<%= woodart.imageUrl %>" class="card-img" alt="...">
        <div class="card-img-overlay" id="card-content">
            <h5 class="card-title"><%= woodart.title %></h5>
            <a href="/woodarts/<%= woodart._id%>" id="details-btn" class="btn btn-primary">Details</a>
        </div>
    </div>
<% }) %>



<%- include('../partials/footer') %>