<%- include('../partials/header') %>

<h3>show page</h3>

<div>Title: </div>
<div><%= woodart.title %></div>
<div>Created: </div>
<div><%= woodart.created %></div>
<div>Description: </div>
<div><%= woodart.description%></div>
<img src="<%= woodart.imageUrl %> " alt="">

<%- include('../partials/footer') %>