<%- include('../partials/header') %>

<h3><%= woodart.title %> </h3>

<div class="show-page-container" >
    <div class="details-img">
        <img id="details-img" src="<%= woodart.imageUrl %>" alt="">
    </div>
    <div class="details-text">
        <h5>Created: <%= woodart.created %></h5>
        <br>
        <div><%= woodart.description%></div>
        <br>
        <h2>Reviews</h2>
        <br>
        <% if (woodart.reviews.length) { %>
            <table>
            <thead>
                <tr>
                <th>Date</th>
                <th>Reviewer</th>
                <th>Review</th>
                <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% let total = 0 %>
                <% woodart.reviews.forEach(function(w) { %>
                <% total += w.rating %>
                <tr>
                    <td><%= w.createdAt.toLocaleDateString() %></td>
                    <td><%= w.reviewer %></td>
                    <td><%= w.content %></td>
                    <td><%= w.rating %></td>
                </tr>
                <% }); %>
                <tr>
                <td colspan="2"></td>
                <td><strong>Average Rating: <%= (total / woodart.reviews.length).toFixed(1) %></strong></td>
                </tr>
            </tbody>
            </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
        <% } %>
        <br>
        <form id="add-review-form" method="POST" action="/woodarts/<%= woodart._id %>/reviews">
          <label>Reviewer:</label>
          <input type="text" name="reviewer">
          <br>
          <br>
          <label>Review:</label>
          <textarea name="content"></textarea>
          <br>
          <label>Rating:</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Review">
        </form>
        <form action="/woodarts/<%= woodart.id %>/edit" method="GET">
            <button>Edit Art</button>
        </form>
        <form action="/woodarts/<%= woodart.id %>?_method=DELETE" method="POST" id="delete">
            <button>Delete Art</button>
        </form>
    </div>
</div>


<%- include('../partials/footer') %>